version: '3.9'

services:
  # Mongodb service
  mongo_db:
    container_name: mongo-db
    image: mongo:latest
    restart: always
    ports:
      - 127.0.0.1:27017:27017 
    volumes:
      - mongo_data:/data/db

  # Node service
  commuter-server:
    container_name: commuter-server
    build: .
    ports:
      # local->container
      - 4000:3000
    environment:
      PORT: 3000
      MONGODB_URI: mongodb://mongo_db:27017
      DB_NAME: mot-gov-il
      MOT_KEY: ${MOT_KEY}
    depends_on: 
      - mongo_db
    volumes:
      - /Users/david/dev/commuterServer/data:/data

volumes:
  mongo_data: {}
